<script type="text/html" id="paragraph-edit">
  <div class="paragraph-edit">
    <div class="toolbar">
      <a href="#">&lt; Back</a>
      <button class="bold" style="font-weight: bold">B</button>
      <button class="italic" style="font-style: italic">i</button>
      <button class="createlink" style="text-decoration: underline">&#8734;</button>
      <button class="float-right save">Save</button>
      <button class="float-right delete">Delete</button>
    </div>

    <div class="editing-field">
    </div>
  </div>
</script>

<script type="text/html" id="heading-edit">
  <div class="heading-edit">
    <div class="toolbar">
      <a href="#">&lt; Back</a>
      <button class="float-right save">Save</button>
      <button class="float-right delete">Delete</button>
    </div>

    <input type="text" class="editing-field" />

    <p>
      Size: <select>
        <option value="h1">Heading 1</option>
        <option value="h2">Heading 2</option>
        <option value="h3">Heading 3</option>
      </select>
    </p>
  </div>
</script>

<script type="text/html" id="image-edit">
  <div class="image-edit">
    <div class="toolbar">
      <a href="#">&lt; Back</a>

      <%= form_for [@site, Image.new], :multipart => true do |f| %>
        <button>Upload</button>
        <%= f.file_field :image %>
      <% end %>

      <button class="float-right save">Save</button>
      <button class="float-right delete">Delete</button>
    </div>

    <center>
      <img src="/nil.gif" />
    </center>

  </div>
</script>

<script type="text/html" id="page-edit">
  <div class="toolbar">
    <%= link_to "Rename", edit_site_page_path(@site, @page) %>
    <button class="reorderElements">Reorder</button>
    <button class="addElement">Add...</button>
    <!--button class="float-right save">Save</button-->
    <%= link_to "Delete", site_page_path(@site, @page), :class=>"float-right", :method => 'delete', :data => { :confirm => 'Are you sure you want to delete this page?' } %>
  </div>

  <div class="subtoolbar toolbar" style="display: none">
    <button class="heading">Heading</button>
    <button class="paragraph">Paragraph</button>
    <button class="image">Image</button>
  </div>

  <div class="page">
  </div>
</script>

<script type="text/html" id="page-list">
  <div class="toolbar">
    <button class="addPage">+ Add</button>
  </div>

  <div class="site-info">
    <h3 class="site-name"></h3>
    <address class="site-subdomain"></address>

    <p class="no-content">
      This is an empty site. Click the "+ Add" button to start adding pages to your site.
    </p>
  </div>

  <ul class="page-list">
  </ul>
</script>

<div class="two-column-layout">
  <div class="expando">
    <button>&#8226;&#8226;&#8226;</button>
    <span><%= @site.name %></span>
  </div>

  <div class="left-column">
    <h3>Site details</h3>

    <dl>
      <dt>Site name</dt>
      <dd><%= @site.name %></dd>
      <dt>Site domain</dt>
      <dd><%= @site.subdomain %>.tuesdayapp.com</dd>
    </dl>

    <h3>
      Theme
    </h3>

    <p>
      &gt; <%= link_to "Edit theme", theme_site_path(@site) %><br />
      &gt; <%= link_to "View site", @site.full_url %><br />
      &gt; <%= link_to "Rename site", edit_site_path(@site) %><br />
      &gt; <%= link_to "New Page", new_site_page_path(@site) %>
    </p>

    <h3>Pages</h3>

    <ul>
      <% @site.pages.each do |page| %>
        <li><%= link_to page.name, [@site, page] %></li>
      <% end %>
    </ul>
  </div>

  <div class="right-column">
    <div class="edit-container">
    </div>
  </div>

  <br style="clear: both" />
</div>

<script>
  $(function(){
    var page = new Page(<%= @page.to_json.html_safe %>);
    window.router = new Router(<%= @site.to_json.html_safe %>, page)
    Backbone.history.start()
  });
</script>
