<dl>
  <dt>Site name</dt>
  <dd><%= @site.name %></dd>
  <dt>Site domain</dt>
  <dd><%= @site.subdomain %>.tuesdayapp.com</dd>
  <dt>Created</dt>
  <dd><%= @site.created_at %></dd>
  <dt>Pages</dt>
  <dd><%= @site.pages.count %></dd>
  <dt>Theme</dt>
  <dd><%= @site.theme.name %></dd>
</dl>

<h3>
  Theme
</h3>

<p>
  &gt; <%= link_to "Edit theme", edit_theme_path(@site.theme.id) %>
</p

<h3>
  Pages in this site
</h3>

<ul>
  <% @site.pages.each do |page| %>
    <li>
      <%= link_to page.name, edit_site_page_path(@site, page) %>
    </li>
  <% end %>
</ul>
